# Dados brutos
01-dados-brutos/calendar.csv/
01-dados-brutos/listings.csv/
01-dados-brutos/calendar.csv
01-dados-brutos/listings.csv

# Arquivos compactados de dados
*.csv.gz

# Arquivos temporários
*.tmp
~$*